
<script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
<!--index.js-->
<script src="/web/js/app/index.js"></script>
<script src="/web/js/app/orderUI.js"></script>
<script src="/web/js/app/manage.js"></script>

</body>
</html>